
.sservices{
    background-image: url('./img//servicesbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5rem;
     color: #a9b1b6;
     padding-top: 10rem;
    
}
.sservicestranparent{
    background-color: transparent;
    /* background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    padding: 5rem;
     color: #a9b1b6;
     padding-top: 10rem;
    
}
.circle{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #434a6f;
    border-radius: 50%;
    /* transition: 0.5s; */
    color: #3fbbc0;
    margin-left: auto;
    margin-right: auto;
    
    /* overflow: hidden; */
    padding-top: 20px;
    animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.circle img{
    
    height: 40px;
    margin-bottom: 30px;
    color : red;
    
   

    
}   