.main-foot{
    width: 100%;
    line-height: 1.5rem;
    font-size: .5rem;
    background-color: rgb(3 19 32);
    color: #a9b1b6;
    padding: 2rem 7rem 0rem 7rem; 
}
.foot-data{
    width: 90%; 
    color: #a9b1b6;
    margin: auto;
}
.foot-copyright{
    width: 100%;
    background-color:rgb(4 32 54);
    text-align: center;
    color: #a9b1b6;
    font-size: 16px;
}
.data-main{
    display: flex;
    width: 100%;
    font-size: 16px;
    justify-content: space-between;
    word-spacing:normal  ;
}
.first{
    width:30%;
}
.secnd{
    width:15%;
}
.secnd ul {
    list-style: none;
    text-decoration: none;
}
.secnd ul li a:hover{
    color:#3fbbc0 ;
}
.third{
    width:20%;
    margin-top: 0px;
}
.forth{
    width:35%;
}
.ancor{
    text-decoration: none;
    margin: none;
    padding: none;
    color: #a9b1b6;
}
.footerlist li{
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
}
.forth ul li{
    list-style:disc !important ;
    list-style-image: none !important;
}
.secnd ul li::before,.third ul li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url('./right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-right:5px ;
}
.firt h2 , .secnd h2 , .third h2 , .forth h2{
    margin-left: 15px;
}
.copyright {
    padding:20px ;
}
.search-box{
    margin-top: 30px;
}
.footerinput{
    padding: 9px;
    border: none;
}
.footerbutton{
    padding: 10px;
    color: white;
    background-color: rgb(108, 165, 22);
    border: none;
    border-radius: 2px;
}
.footericons{
    margin-left: 50px;
    margin-top: 50px;
}
.top-icons{
    display: flex;
    margin-left: 20px;
}
.botom-icons{
    display: flex;
}
.top-icons .fb{
    padding: 6px;
    background-color:  #016b79;
    border-radius: 50%;
    border: 1px solid #016b79;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
}
.botom-icons .fb{
    padding: 5px;
    background-color: #016b79;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #016b79;
    text-align: center;
    margin: 5px;
    margin-top: -3px;   
}
.fb a svg{
    margin-bottom: 20px;
    font-size: 5em;
    color: #fff;  
}